<style scoped src="./style.css"></style>
<template src="./template.html"></template>

<script>
    import config from '../../config.json';

    export default {
        name: 'PeopleListSingleProfileComponent',
        props: {
            profile: {
                type: Object,
                required: true
            }
        },
        computed: {
            people() {
                return this.$store.getters.people;
            },
            photoSrc() {
                if (!this.profile.photo) {
                    return {};
                }
                return config.backendUrl + 'profile-photos/' + this.profile.photo.name + this.profile.photo.type;
            }
        },
        methods: {
            view() {
                this.$router.push({name: 'profile', params: {id: this.profile.id}});
            },
            message() {
                this.$emit('message', this.profile);
            },
            remove() {
                this.$dialog.confirm('Are you sure?')
                    .then(_ => {
                        this.$emit('remove', this.profile);
                    })
                    .catch(function () {

                    });
            },
            emailSent() {
                this.emit('emailSent');
            }
        }
    }
</script>