<tr>
    <td>
        <img :src="photoSrc">
    </td>
    <td>{{ profile.name }}({{ profile.email }})</td>
    <td>
        <i class="action fa fa-eye" @click="view"></i>
        <i class="action fa fa-envelope" @click="message" @emailSen="emailSent"></i>
        <i class="action fa fa-trash" @click="remove"></i>
    </td>
</tr>