<style scoped src="./style.css"></style>
<template src="./template.html"></template>

<script>
    import PeopleListSingleProfileComponent from '../PeopleListSingleProfileComponent/PeopleListSingleProfileComponent'
    import ViewProfileComponent from '../ViewProfileComponent/ViewProfileComponent'
    import PeopleService from "../../services/PeopleService";
    import SendEmailComponent from '../SendEmailComponent/SendEmailComponent'
    import PeopleListPaginationComponent from '../PeopleListPaginationComponent/PeopleListPaginationComponent'

    export default {
        name: 'PeopleListComponent',
        data() {
            return {
                showViewProfileComponent: false,
                showSendEmailComponent: false,
                selectedProfile: null
            }
        },
        components: {
            PeopleListSingleProfileComponent,
            ViewProfileComponent,
            SendEmailComponent,
            PeopleListPaginationComponent
        },
        methods: {
            viewProfile(profile) {
                this.showViewProfileComponent = true;
                this.selectedProfile = profile;
            },
            removeProfile(profile) {
                PeopleService.delete(profile.id)
                    .then(response => {
                        this.$emit('profileRemoved');
                    })
                    .catch(_ => {
                        this.$toaster.error("Unexpected error has occurred. Please try again");
                    })
            },
            sendEmail(profile) {
                this.showSendEmailComponent = true;
                this.selectedProfile = profile;
            },
            hideViewProfileComponent() {
                this.showViewProfileComponent = false;
                this.selectedProfile = null;
            },
            hideSendEmailComponent() {
                this.showSendEmailComponent = false;
                this.selectedProfile = null;
            }
        },
        computed: {
            people() {
                return this.$store.getters.people;
            },
            peoplePerPage() {
                return this.$store.getters.peoplePerPage;
            },
            numberOfPeople() {
                return this.$store.getters.numberOfPeople;
            }
        }
    }
</script>