<div>
    <table class="table table-striped">
        <tbody>
        <template v-for="profile in people">
            <PeopleListSingleProfileComponent
                    :profile="profile"
                    @view="viewProfile"
                    @remove="removeProfile"
                    @message="sendEmail"
            />
        </template>
        </tbody>
    </table>
    <PeopleListPaginationComponent v-if="numberOfPeople > peoplePerPage"/>
    <ViewProfileComponent :profile="selectedProfile" v-if="showViewProfileComponent" @hide="hideViewProfileComponent"/>
    <SendEmailComponent
            :profile="selectedProfile"
            v-if="showSendEmailComponent"
            @hide="hideSendEmailComponent"
            @emailSent="hideSendEmailComponent"
    />
</div>