<style scoped src="./style.css"></style>
<template src="./template.html"></template>

<script>
    import PeopleService from "../../services/PeopleService";

    export default {
        name: 'CreatePeopleComponent',
        data() {
            return {
                email: '',
                name: '',
                description: '',
                emailError: null,
                photo: null
            }
        },
        methods: {
            showModal() {
                this.$refs['CreatePeopleComponentModal'].show()
            },
            hideModal() {
                this.$emit('close');
            },
            saveProfile(evt) {
                evt.preventDefault();
                var formData = new FormData();
                formData.append("photo", this.photo);
                formData.append("email", this.email);
                formData.append("name", this.name);
                if (this.description.length > 0) {
                    formData.append("description", this.description);
                }
                PeopleService.create(formData)
                    .then(_ => {
                        this.$toaster.success('Profile is successfully created');
                        this.$emit('profileSaved');
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.$toaster.error(error.response.data.errors[Object.keys(error.response.data.errors)[0]][0]);
                        }
                    })
            },
            checkEmail(event) {
                if (event.target.value.length > 0) {
                    const self = this;
                    PeopleService.isEmailTaken(event.target.value)
                        .then(response => {
                            if (response.data.taken) {
                                self.emailError = 'Email is already taken';
                            } else {
                                self.emailError = null;
                            }
                        })
                        .catch(_ => {
                            this.$toaster.error('Error checking email. Please try again');
                        })
                }
            }
        },
        mounted() {
            this.showModal();
        }
    }
</script>