<div>
    <b-modal ref="CreatePeopleComponentModal"
             hide-footer title="Add Person"
             @hide="hideModal"
             size="lg"
    >
        <div>
            <b-form @submit="saveProfile">
                <b-form-group
                        id="input-group-1"
                        label="Name:"
                        label-for="input-1"
                >
                    <b-form-input
                            id="input-1"
                            v-model="name"
                            required
                            placeholder="Enter name"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-2" label="Email:" label-for="input-2">
                    <b-form-input
                            id="input-2"
                            v-model="email"
                            type="email"
                            @blur="checkEmail"
                            required
                            placeholder="Enter email"
                    ></b-form-input>
                </b-form-group>
                <span v-if="emailError" class="text-danger"> {{ emailError }} </span>
                <b-form-group id="input-group-3" label="Description:" label-for="input-3">
                    <div>
                        <b-form-textarea
                                id="textarea"
                                v-model="description"
                                placeholder="Enter description..."
                                rows="3"
                                max-rows="6"
                        ></b-form-textarea>
                    </div>
                </b-form-group>

                <b-form-file
                        v-model="photo"
                        :state="Boolean(photo)"
                        placeholder="Choose a file..."
                        required
                        drop-placeholder="Drop file here..."
                ></b-form-file>

                <b-button type="submit" :disabled="emailError !== null" variant="primary">Submit</b-button>
            </b-form>
        </div>
    </b-modal>
</div>