<style scoped src="./style.css"></style>
<template src="./template.html"></template>

<script>
    import PeopleService from "../../services/PeopleService";
    import PeopleListComponent from '../../components/PeopleListComponent/PeopleListComponent'
    import CreatePeopleComponent from '../../components/CreatePeopleComponent/CreatePeopleComponent'

    export default {
        name: 'People',
        data() {
            return {
                displayAddPersonComponent: false
            }
        },
        created() {
            this.fetchPeople();
        },
        methods: {
            fetchPeople() {
                PeopleService.fetchPeople()
                    .then(response => {
                        this.$store.dispatch('setPeople', response.data);
                    })
                    .catch(_ => {
                        this.$toaster.error('Error fetching people.')
                    })
            },
            showAddPersonComponent(value) {
                this.displayAddPersonComponent = value;
            },
            profileSaved() {
                this.displayAddPersonComponent = false;
                this.fetchPeople();
            },
            profileRemoved() {
                this.fetchPeople();
            }
        },
        components: {
            PeopleListComponent,
            CreatePeopleComponent
        }
    }
</script>