<b-container>
    <div id="rightBtn" @click="showAddPersonComponent(true)">
        <b-button class="btn pull-right" variant="success">
            Add person
        </b-button>
    </div>
    <h1 class="text-center">People</h1>
    <PeopleListComponent
            @profileRemoved="profileRemoved"
    />
    <template v-if="displayAddPersonComponent">
        <CreatePeopleComponent
                @close="showAddPersonComponent(false)"
                @profileSaved="profileSaved"
        />
    </template>
</b-container>