<style scoped src="./style.css"></style>
<template src="./template.html"></template>

<script>
    import ProfileService from "../../services/ProfileService";
    import SendEmailComponent from '../../components/SendEmailComponent/SendEmailComponent';
    import config from '../../config.json';

    export default {
        name: 'Profile',
        data() {
            return {
                profile: {},
                showSendEmailComponent: false
            }
        },
        created() {
            this.fetchProfile(this.$route.params.id)
        },
        methods: {
            fetchProfile(id) {
                ProfileService.fetchProfile(id)
                    .then(response => {
                        this.profile = response.data;
                    })
                    .catch(_ => {
                        this.$router.push({name: 'people'});
                    })
            },
            message() {
                this.showSendEmailComponent = true;
            },
            goBack() {
                this.$router.push({name: 'people'});
            },
            hideSendEmailComponent() {
                this.showSendEmailComponent = false;
            }
        },
        components: {
            SendEmailComponent
        },
        computed: {
            photoSrc() {
                if (!this.profile.photo) {
                    return null;
                }
                return config.backendUrl + 'profile-photos/' + this.profile.photo.name + this.profile.photo.type;
            }
        }
    }
</script>