<b-container class="bv-example-row">
    <h1 class="text-center">Profile #{{ profile.id }}</h1>
    <b-img center id="profilePhoto" :src="photoSrc"></b-img>
    <p class="text-center">{{ profile.name }}</p>
    <p class="text-center">{{ profile.email }}</p>
    <p class="text-center"><i class="message fa fa-envelope text-center" @click="message"></i></p>
    <p class="text-center">{{ profile.description }}</p>
    <p class="btn-link backBtn" @click="goBack">Go back</p>

    <template v-if="showSendEmailComponent">
        <SendEmailComponent :profile="profile" @emailSent="hideSendEmailComponent"/>
    </template>

</b-container>