<style scoped src="./style.css"></style>
<template src="./template.html"></template>

<script>
    import PeopleService from "../../services/PeopleService";

    export default {
        name: 'PeopleListPaginationComponent',
        data() {
            return {
                currentPage: 1
            }
        },
        computed: {
            peoplePerPage() {
                return this.$store.getters.peoplePerPage;
            },
            numberOfPeople() {
                return this.$store.getters.numberOfPeople;
            },
            peoplePerPage() {
                return this.$store.getters.peoplePerPage;
            }
        },
        methods: {
            pageChanged(page) {
                PeopleService.fetchPeople({
                    offset: (page - 1) * this.peoplePerPage,
                    limit: this.peoplePerPage
                })
                    .then(response => {
                        this.$store.dispatch('setPeople', response.data);
                        this.$store.dispatch('setCurrentPage', this.currentPage);
                    })
                    .catch(_ => {
                        this.$toaster.error('Error fetching people.')
                    })
            }
        }
    }
</script>