<style scoped src="./style.css"></style>
<template src="./template.html"></template>

<script>
    import EmailService from "../../services/EmailService";

    export default {
        name: 'SendEmailComponent',
        props: {
            profile: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                'subject': '',
                'content': ''
            }
        },
        methods: {
            showModal() {
                this.$refs['sendEmailModal'].show()
            },
            hideModal() {
                this.$emit('hide');
            },
            sendEmail(event) {
                event.preventDefault();
                const data = {
                    subject: this.subject,
                    content: this.content,
                    receiver_email: this.profile.email,
                    receiver_name: this.profile.name
                }
                EmailService.sendEmail(data)
                    .then(_ => {
                        this.$toaster.success('Email is successfully sent');
                        this.$emit('emailSent');
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.$toaster.error(error.response.data.errors[Object.keys(error.response.data.errors)[0]][0]);
                        } else {
                            this.$toaster.error('Unexpected error has occurred. Please try again');
                        }
                    })
            }
        },
        mounted() {
            this.showModal();
        }
    }
</script>