<div>
    <b-modal ref="sendEmailModal" hide-footer title="Send Email" @hide="hideModal">
        <div class="d-block text-center">
            <b-form @submit="sendEmail">
                <b-form-group label="Email:">
                    <b-form-input
                            :value="profile.email"
                            disabled
                    ></b-form-input>
                </b-form-group>
                <b-form-group label="Subject:">
                    <b-form-input
                            v-model="subject"
                            required
                    ></b-form-input>
                </b-form-group>
                <b-form-group label="Content:">
                    <b-form-textarea
                            v-model="content"
                            required
                    ></b-form-textarea>
                </b-form-group>
                <b-button type="submit" variant="primary">Send</b-button>
            </b-form>
        </div>
    </b-modal>
</div>