<style scoped src="./style.css"></style>
<template src="./template.html"></template>

<script>
    import UserService from "../../services/UserService";

    export default {
        name: 'LoginComponent',
        data() {
            return {
                email: null,
                password: null
            }
        },
        methods: {
            login(event) {
                event.preventDefault();
                const credentials = {
                    email: this.email,
                    password: this.password
                };
                UserService.login(credentials)
                    .then(_ => {
                        this.$router.push({name: 'people'});
                    })
                    .catch(_ => {
                    })
            }
        }
    }
</script>