<div>
    <b-container class="bv-example-row">
        <b-row class="justify-content-md-center">
            <b-col col lg="2"></b-col>
            <b-col col lg="8" md="8" sm="8" class="auto">
                <div>
                    <b-form @submit="login">
                        <b-form-group id="email"
                                      label="Email"
                                      label-for="email">
                            <b-form-input id="email"
                                          type="text"
                                          v-model="email"
                                          required
                                          email
                                          placeholder="Enter email">
                            </b-form-input>
                        </b-form-group>
                        <b-form-group id="password_input"
                                      label="Password:"
                                      label-for="password">
                            <b-form-input id="password"
                                          type="password"
                                          v-model="password"
                                          required
                                          placeholder="Enter password">
                            </b-form-input>
                        </b-form-group>
                        <b-button type="submit" variant="primary">Submit</b-button>
                        <b-button type="reset" variant="danger">Reset</b-button>
                    </b-form>
                </div>
            </b-col>
            <b-col col lg="2"></b-col>
        </b-row>
    </b-container>
</div>