<style scoped src="./style.css"></style>
<template src="./template.html"></template>

<script>
    import LoginViewComponent from '../../components/LoginComponent/LoginComponent';
    import UserService from "../../services/UserService";

    export default {
        name: 'Home',
        components: {
            LoginViewComponent
        },
        created() {
            UserService.getUser()
                .then(_ => {
                    this.$router.push({name: 'people'})
                })
                .catch(_ => {
                })
        }
    }
</script>