<style scoped src="./style.css"></style>
<template src="./template.html"></template>

<script>
    export default {
        name: 'ViewProfileComponent',
        props: {
            profile: {
                type: Object,
                required: true
            }
        },
        methods: {
            showModal() {
                this.$refs['viewProfileModal'].show()
            },
            hideModal() {
                this.$emit('hide');
            }
        },
        mounted() {
            this.showModal();
        }
    }
</script>